
<html>

    <head>
    <script src="js/angular.min.js" type="text/javascript"></script>
        <link href="css/style.css" rel="stylesheet">
        <script src="js/app4.js" type="text/javascript"></script>
    </head>

    
    <body ng-app="myApp">
        
        <div ng-controller="myController">
            
            Row display : <input type="number" step="1" min="0" max="15" ng-model="rowLimit">
        <br>
            <br>
        <table>
            
            <thead>
            <tr>
                  <th>Name</th>
                  <th>DOB</th>
                  <th>salary</th>
                  <th>salary</th>
            </tr>
           </thead>
            
            <tbody>
            <tr ng-repeat="employee in employees | limitTo:rowLimit">
                <td>{{employee.name | uppercase}}</td>
               <td>{{employee.dob | date:"dd/MM/yyyy"}}</td>
               <td>{{employee.salary | number:1}}</td>
               <td>{{employee.salary | currency:"INR ":1}}</td>
               
                
                </tr>
            </tbody>
            
            </table>
        
        
        
        </div>
    
    
    </body>
</html>